@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}

:where(.css-dev-only-do-not-override-14i19y2).ant-menu-dark.ant-menu-horizontal >.ant-menu-item-selected, :where(.css-dev-only-do-not-override-14i19y2).ant-menu-dark>.ant-menu.ant-menu-horizontal >.ant-menu-item-selected, :where(.css-dev-only-do-not-override-14i19y2).ant-menu-dark.ant-menu-horizontal >.ant-menu-submenu-selected, :where(.css-dev-only-do-not-override-14i19y2).ant-menu-dark>.ant-menu.ant-menu-horizontal >.ant-menu-submenu-selected {
    color: #fff ! important;
    background-color: transparent ! important;
}   