@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

:where(
    .ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected,
    .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu-selected
  ) {
  color: #fff !important;
  background-color: transparent !important;
}
